/*Propiedades Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
/*Imagen de fondo*/
body{
    background-image: url(../Img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Caja trasera*/
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.Contenedor_General{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.Trasera{
    width: 100% 50%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 128, 255, 0.5);
}

.Contenedor_General .Trasera div{
    margin: 100px 40px;
    color: #fff;
    transition: all 500ms;
}

.Contenedor_General .Trasera div p,
.Contenedor_General .Trasera div button{
    margin-top: 30px;
}

.Trasera div h2{
    font-weight: 400;
    font-size: 26px;
}

.Trasera div button{
    padding: 10px 40px;
    border: 3px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 300ms;
}

.Contenedor_General .Trasera button:hover{
    background: #fff;
    color: #000;
}
/*Formularios*/
.Contenedor_General .Contenedor_formularios form{
    width: 100%;
    padding: 80px 20px;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 128, 255, 0.5); 
    position: absolute;
    border-radius: 20px;
}

.Contenedor_General .Contenedor_formularios{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.Contenedor_General .Contenedor_formularios form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff; 
}

.Contenedor_General .Contenedor_formularios form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2f2;
    font-size: 16px;
    outline: none;
}

.Contenedor_General .Contenedor_formularios form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px; 
    background: #fff;
    cursor: pointer;
    outline: none;
}

.Formulario_Login{
    opacity: 1;
    display: block;
}

.Formulario_Registro{
    display: none;
}

/*Responsive Desing*/
@media screen and (max-width: 850px){
    main{margin-top: 50px;}

    .Trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .Trasera div{
        margin: 0px;
        position: absolute;
    }

    /*Formulario*/
    .Contenedor_formularios{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .Contenedor_General .Contenedor_formularios form{
        position: relative;
    }

}


































